body{
	background-image:url(/images/wallpaper.png);
	background-size: 8em;
	background-repeat: repeat-x;
	background-color: #2d2d2d;
	color: #FFFFFF;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
/*	text-transform: uppercase;
*/	margin: 0 auto;
	position: relative;
	text-align: center;
	text-decoration: none;
}

a { 
	color: #FF0000;
	text-decoration: none;
}
	
a:hover { 
	color: #FFF;
}

/*LOGO*/

#icon {
	display: block;
	width: 256px;
	height: 256px;
	background-image: url(/images/icon.png);
	background-size:256px 256px;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top:3em;
	position: relative;
	-webkit-filter: drop-shadow(5px 5px 50px #111);
	  filter: drop-shadow(5px 5px 50px #111);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
		#icon {
		display: block;
		background-image:url(/images/icon@2x.png);
		background-size:256px 256px;
		background-repeat: no-repeat;
		margin: 0 auto;
		margin-top:3em;
		position: relative}
}

/*NOTE*/

#note {
	display: block;
	width: 430px;
	height: 301px;
	background-image: url(/images/note.png);
	background-size:430px 301px;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top:3em;
	position: relative;
	-webkit-filter: drop-shadow(2px 2px 50px #222);
	  filter: drop-shadow(2px 2px 50px #222);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
		#note {
		display: block;
		background-image: url(/images/note@2x.png);
		background-size:430px 301px;
		background-repeat: no-repeat;
		margin: 0 auto;
		margin-top:3em;
		position: relative}
}

/*LOG IN FORM*/

.login {
	margin: auto;
	margin-top:4em;
	width: 90%;
}
.failure {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	  transform: translate3d(0, 0, 0);
	  backface-visibility: hidden;
	  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.app_stores {
	margin-top: 4em;
	margin-bottom: 3em;
}

.app_stores_get {
    background-color: #222;
    border-color: #555;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 0.1em;
    display: block;
    font-size: 1.25em;
    margin: 5em auto auto;
    min-height: 0;
    padding: 0.6em;
    width: 23.3em;
	line-height:1.2em;
	color: #777;
}

.app_stores_get a {
	color: #777;
	font-weight:bold;
}

.app_stores_get a:hover {
	color: red;
	font-weight:bold;
}

input {
	color: #FF0000;
	cursor: pointer;
	font-weight: bold;
	border: thick solid rgba(255,255,255,1.00);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0.4+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
}

input[type = "text"] {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	text-align:center;
	color: #FF0000;
	font-size: 2em;
	width: 15em;
	height: 2em;
/*	text-transform: uppercase;
*/	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;	
}


input[type = "submit"] {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	color: #000000;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
	background-color: #FFFFFF;
	font-size: 2em;
	width: 15.35em;
	height: 2.4em;
	display: block;
	margin-top: 1em;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	padding-left:1em;
	padding-right:1em;
}
	
input[type = "submit"]:hover {
	background-color: red;
	border: thick solid rgba(255,0,0,1.00);
}

/*DIRECTORY STUFF*/

.wrap {
	max-width: 25em;
	margin: 0 auto;
	margin-bottom:5em;
	}

.note { 
	padding:  0 5px 25px 0; 
	font-size:100%; 
	color: #666; 
	line-height: 18px; 
}
.block { 
	text-align:center;
	text-indent:5px;
	clear: both;  
	border-top: solid 5px rgba(0,0,0,0.0); 
	font-size: 1.25em;
	font-weight: bold;
}
.block:first-child { 
	border: none; 
}
.block .img {
	width: 256px;
	height: 100px;
	display: block;
	margin: auto;
}
.block .name {
	margin-top: 2.5em;
}
.block .date {
	margin-top: 4px;
	font-size: 100%;
	color: rgba(255,255,255,0.4); 
}
.block a {
	display: block;
	padding: 0.5em;
	transition: all 0.25s;
	text-decoration:none;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0.25);
}
.block a:hover {
	color: #FFFFFF;
	background-color: #B40000;
	text-decoration: none;  
}
		
.thumb{
	overflow:visible;
	padding:0;
	text-align:center;
	text-indent:0px;
}
.thumb img{
	width:256px;
	margin:auto;
}

.legal {
	font-size:0.75em;
	color:#505050;
}


/*iPHONE*/
@media screen and (min-width: 0px) and (max-width: 507px) {
	body {
		width: auto;
		margin: 0;
		background-size: 6em;
	}
	h1 {
		font-size: 1.25em;
	}
	
	#note {
		display: block;
		width: 280px;
		height: 187px;
		background-image: url(/images/note.png);
		background-size:280px 196px;
		background-repeat: no-repeat;
		margin: 0 auto;
		margin-top:3em;
		position: relative;
		-webkit-filter: drop-shadow(10px 10px 15px #111);
		  filter: drop-shadow(10px 10px 15px #111);
	}

	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 3/2),
		only screen and (min--moz-device-pixel-ratio: 1.5),
		only screen and (min-device-pixel-ratio: 1.5) {
			#note {
			display: block;
			background-image: url(/images/note@2x.png);
			background-size:280px 196px;
			background-repeat: no-repeat;
			margin: 0 auto;
			margin-top:3em;
			position: relative}
	}
	
	input[type = "text"] {
		font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
		text-align:center;
		color: #FF0000;
		font-size: 1.25em;
		width: 13.97em;
		height: 2em;
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 0;	
	}
	input[type = "submit"] {
		width: 14.5em;
		height: 2.55em;
		font-size: 1.25em;
		}
	
	.login {
		margin: auto;
		width: 90%;
		margin-top:4em;
	}
	/*DIRECTORY STUFF*/

	/**, *:before, *:after { 
		-moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box; 
		box-sizing: border-box; }*/
	/*@media only screen and (max-width: 700px) { .wrap { padding: 15px; } }
	*/

	.app_stores_get {
	    font-size: 0.9em;
	    margin: 3em auto auto;
	    padding: 0.5em;
	    width: 19em;
	}
	
	.wrap {
		max-width: 25em;
		margin: 0 auto;
		margin-bottom:5em;
		}
	

	.note { 
		padding:  0 5px 25px 0; 
		font-size:100%; 
		color: #666; 
		line-height: 18px; 
	}
	.block { 
/*		text-transform: uppercase;
*/		text-align:center;
		text-indent:5px;
		clear: both;  
		border-top: solid 5px rgba(0,0,0,0.0); 
		font-size: 1.1em;
	}
	.block:first-child { 
		border: none; 
	}
	.block .img {
/*		width: 178px;
		height: 100px;
		display: block;
		float: left;
		margin-right: 10px;
		margin-top: 0px;*/
	}
	.block .name {
		margin-top: 3.5em;
	}
	.block .date {
		margin-top: 4px;
		font-size: 100%;
		color: rgba(255,255,255,0.4); 
	}
	.block a {
		display: block;
		padding: 0.5em;
		transition: all 0.25s;
		text-decoration:none;
		color: #FFFFFF;
		background-color: rgba(0,0,0,0.25);
	}
	.block a:hover {
		color: #FFFFFF;
		background-color: #B40000;
		text-decoration: none;  
	}
		
	.thumb{
		overflow:visible;
		padding:0;
		text-align:center;
		text-indent:0px;
	}
	.thumb img{
		
	}
	
}

