/*
/*/
!/algersoft.net/
!/figgis.agency/

#These logs include more file names, but they will not be included here
algersoft.net/login/mitsuko/error_log
algersoft.net/login/error_log
algersoft.net/login/krieger/error_log
